
    <div id="wrapper">
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="/My/Shop/?Hang=SamSung" style="text-align:center;">SamSung  <i class="fa  fa-angle-double-right " style="float:right;"></i></a>
                    </li>
                    <li>
                        <a href="/My/Shop/?Hang=Apple" style="text-align:center;">Apple  <i class="fa  fa-angle-double-right " style="float:right;"></i></a>
                    </li>
                    <li>
                        <a href="/My/Shop/?Hang=Xiaomi" style="text-align:center;">Xiaomi  <i class="fa  fa-angle-double-right " style="float:right;"></i></a>
                    </li>
                    <li>
                        <a href="/My/Shop/?Hang=LG" style="text-align:center;">LG  <i class="fa  fa-angle-double-right " style="float:right;"></i></a>
                    </li>
                    <li>
                        <a href="/My/Shop/?Hang=Nokia" style="text-align:center;">Nokia  <i class="fa  fa-angle-double-right " style="float:right;"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        
    </div>